<h1>Simply Trying Angular Material</h1>
<mat-checkbox #detailCheckbox [checked]="isChecked" (change)="onChange($event)"
  >Show Details</mat-checkbox
>
<div *ngIf="detailCheckbox.checked">
  Some Details..
</div>
<p>
  <mat-radio-group [attr.aria-label]="title">
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group>
</p>
<p>
  <mat-form-field>
    <mat-select [(ngModel)]="colorSelect" class="form-control">
      <mat-option *ngFor="let color of colors" [value]="color.id">
        {{ color.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>User Name:</mat-label>
    <input
      ngModel
      #username="ngModel"
      name="username"
      required
      matInput
      placeholder="Ex. saravana"
      value="Sushi"
    />
    <mat-hint>Provide ur User Name</mat-hint>
    <span matPrefix>Mr.</span>
    <span matSuffix>@google.co</span>
    <mat-error *ngIf="username.invalid && username.errors.required">
      The user name is invalid
    </mat-error>
  </mat-form-field>
  <p>
    <mat-form-field>
      <textarea
        matInput
        placeholder="Type Something..."
        rows="2"
        matTextareaAutosize
      ></textarea>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Choose a Date</mat-label>
      <input
        (focus)="picker.open()"
        matInput
        [matDatepickerFilter]="myDateFilter"
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
  </p>
  <p>
    <mat-icon class="add-alert">add_alert</mat-icon>
  </p>
  <p>
    <button mat-button>Basic</button>
    <button mat-raised-button>Raised Button</button>
    <button color="primary" mat-raised-button>Primary</button>
    <button color="accent" mat-raised-button>Accent</button>
    <button color="warn" mat-raised-button>Warn</button>
    <button color="primary" mat-fab><mat-icon>check</mat-icon></button>
  </p>
  <p>
    <mat-chip-list>
      <mat-chip
        *ngFor="let color of colors"
        (click)="selectColor(color)"
        [selected]="color.selected"
        >{{ color.name }}</mat-chip
      >
    </mat-chip-list>
  </p>
  <p>
    <mat-spinner mode="determinate" [value]="progress"></mat-spinner>
  </p>
  <p>
    <mat-spinner *ngIf="!isLoading" mode="indeterminate"></mat-spinner>
  </p>
  <p>
    <button
      mat-raised-button
      matTooltip="Info about the action"
      matTooltipPosition="below"
    >
      Action
    </button>
  </p>
  <p>
    <mat-tab-group>
      <mat-tab label="Billing">Contents of Billing Tab</mat-tab>
      <mat-tab label="Shipping">Contents of Shipping Tab</mat-tab>
    </mat-tab-group>
  </p>
  <p>
    <button color="accent" mat-raised-button (click)="openDialog()">
      Open Dialog
    </button>
  </p>
</form>
