@import "~@angular/material/_theming";

@include mat-core();

// To include custom theme
$app-primary: mat-palette($mat-blue, 700);
$app-secondary: mat-palette($mat-yellow, 600);
$app-warn: mat-palette($mat-red);

$app-theme: mat-dark-theme($app-primary, $app-secondary, $app-warn);

@include angular-material-theme($app-theme);

//To include custom typography
$app-typography: mat-typography-config(
  $font-family: '"Open Sans", "Helvetica Neue", sans-serif',
  $headline: mat-typography-level(35px, 32px, 700),
);

@include angular-material-typography($app-typography);
